// Async
script(src="//cdnjs.cloudflare.com/ajax/libs/async/0.2.7/async.min.js")
// jQuery
script(src="//code.jquery.com/jquery-2.0.3.min.js")
script(src="//code.jquery.com/ui/1.10.3/jquery-ui.js")
script(src="//code.jquery.com/jquery-migrate-1.2.1.min.js")
// Bootstrap JS
script(src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js")
// AngularJS
script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular.js")
script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular-route.js")
// jQuery plugins Plugins
script(src="//cdn.jsdelivr.net/flexslider/2.2/jquery.flexslider.js")
script(src="//cdn.jsdelivr.net/fancybox/2.1.5/jquery.fancybox.pack.js")
script(src="//cdn.jsdelivr.net/bxslider/4.1.1/jquery.bxslider.min.js")
// Google Maps
script(src="//maps.googleapis.com/maps/api/js?sensor=false")
// Lodash
script(src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.underscore.min.js")

block scripts
